.App {
  text-align: center;
}

body {
    background-color: #282a36 !important;
}

.bg-dracforeground {
    background-color: #f8f8f2 !important;
}

.text-dracforeground {
    color: #f8f8f2 !important;
}

.shortened {
    height: 19em !important;
    overflow: hidden;
}

.border-dracforeground {
    border-color: #f8f8f2 !important;
}

.bg-draccurrent {
    background-color: #44475a !important;
}

.bg-dracpink {
    background-color: #ff79c6 !important;
}
.text-dracpink {
    color: #ff79c6 !important;
}

a {
    color: #ff79c6 !important;
}

.text-draccomment {
    color: #6272a4 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.noscroll::-webkit-scrollbar {
  display: none
}

.blog-post {
  border: #f8f8f2 solid 2px !important;
}

.blog-post:hover {
  border: #ff79c6 solid 2px !important;
}

.noscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
